

@{
    ViewBag.Title = "List of operation with card";
}
<div>
  

</div>
<div class="jumbotron">
    @Html.ActionLink("Get operation with this card", "Index", "Clients")
</div>


<div class="jumbotron">
    @Html.ActionLink("Сash withdrawal", "Index", "Clients")
</div>

